.musicCard {
    height: 250px;
    width: 200px;
    margin-bottom: 20px;
}
.thumbnailContainer {
    cursor: pointer;
    border-radius: 12px;
    height: 200px;
    width: 200px;
}
.songTitle, .songArtists {
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.songTitle {
    color: #fff;
    cursor: pointer;
    padding: 5px 0;
}
.songTitle:hover {
    color: #25d1da;
}
.songArtists {
    color: #999999;
}

.extraIcons {
    align-items: center;
    background-color: rgba(0,0,0,.5);
    border-radius: 12px;
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: space-around;
}
.playingIcon {
    height: 32px;
    width: 32px;
}
/* .imageHoverIcons {
    display: none;
}
.imageHoverIcons:hover {
    display: inline-block;
    background-color: rgba(44, 44, 44, 0.5);
} */