header.header {
    background-color: rgba(15,17,17,.6);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    border-bottom: 1px solid rgba(255,255,255,.15);
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
ul.headertabs {
    display: flex;
    justify-content: space-between;
    justify-items: start;
}
a.active {
    color: rgb(98, 98, 189);
}
.searchForm {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background: #fff;
    height: 35px;
    padding: 0.5rem;
    border-radius: 2.5rem;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
}
.searchForm input {
    border: none;
    cursor: pointer;
}
.searchForm input:focus-within {
    border: none;
    outline: none;
}
.searchForm button {
    border: none;
    background-color: #fff;
}
.searchForm:focus-within{
    justify-content: space-between;
    background-color: rgba(73, 73, 73, 0.6);
    border-radius: 0;
    height: 72px;
    width: 425px;
    transition: 0.3s ease-out;
}
.searchForm:focus-within input {
    background-color: rgba(56, 56, 56, 0.6);
    color: #f0f0f0;
    font-size: 18px;
    transition: 0.3s ease-out;
}
.searchForm:focus-within button {
    background-color: rgba(94, 94, 94, 0.6);
    color: #f0f0f0;
    border-radius: 50%;
    padding: 12px;
}

.SearchInput {
    border: none;
    outline: none;
    padding: 1em;
}
.SearchInput:focus{
    outline: none;
    border: none;
}
.SearchInput:focus-within {
    padding: 2em;
}