header.header {
    background-color: rgba(15,17,17,.6);
    backdrop-filter: blur(30px);
    border-bottom: 1px solid rgba(255,255,255,.15);
    height: 80px;
}
div.toolbar {
    height: 80px;
}
.headerTabs {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style-type: none;
    padding-inline-start: 24px;
}
.amazonlogoComp a {
    margin-inline-end: 24px;
    margin-top: 9px;
    flex-grow: 1;
}
.musicLogo img{
    height: 2rem;
}
.headerTabs>li {
    /* flex: 0 0 auto; */
    margin-inline-end: 8px;
}
.headerTabs a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    gap: 7px;
    font-size: large;
    font-weight: 600;
}
.headerTabs a.active {
    color: #25d1da;
}
.headerTabs a:hover {
    color: #25d1da;
}
.headerLinks {
    display: block;
    padding: 10px 15px;
    margin-right: 10px;
}
.headerLinks a:hover {
    background-color: transparent;
}

/* Search Input */
.headerSearchBar {
    position: relative;
    display: flex;
    flex-shrink: 1;
    height: 100%;
    width: 100%;
    cursor: initial;
    margin-inline-end: 0;
}
.searchForm {
    display: flex;
    align-items: center;
    background: #fff;
}
.headerSearchBar .SearchIcon {
    display: flex;
    align-items: center;
    min-height: 100%;
    inset-inline-end: 22px;
    position: absolute;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.searchInput {
    width: 256px;
    height: 36px;
    inset-inline-end: 0;
    border-radius: 50px;
    caret-color: #1ad2fb;
    transition: all 100ms ease-in-out;
    margin-inline-end: 0;
    font-size: 14px;
    border: none;
    outline: none;
    padding-inline-end: 60px;
    padding-inline-start: 24px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}
.searchInput:focus-within {
    background-color: rgba(255,255,255,.15);
    border-radius: 0;
    color: #f0f0f0;
    font-size: 18px;
    height: 100%;
    width: 100%;
    padding-inline-end: 90px;
    transition: 0.3s ease-out;
    cursor: initial;
}

.profileMenu {
    background-color: rgba(15,17,17,.6);
    backdrop-filter: blur(30px);
    color: #fff;
    box-shadow: 5px 5px 5px #000;
    border: 1px solid rgba(255,255,255,.15);
    border-radius: 8px;
    height: auto;
    padding: 20px 0 50px;
    position: absolute;
    right: 15px;
    top: 60px;
    width: 300px;
    text-align: center;
}

.signin_Btn{
    background-color: #25d1da;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    font-size: 17px;
    margin: 0 10px;
    padding: 12px 5px;
    width: 80%;
}
.signin_Btn:hover {
    background-color: #a8edf0;
    transform: scale(1.05);
}
